{{> header title='Working Group Members | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Working Group Members</h1>

  <div class="info-page-container sponsors blue-link-section">
    <div id="members">
      <script id="template-selector" type="text/x-handlebars-template">
      <div class="anchor align-center">
        <a href="#strategic-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
        <h2 class="bold margin-top-4"><a id="strategic-members">Strategic Members</a></h2>
      </div>
      <p>Strategic Members are organizations that view Adoptium working group managed technology as critical to their organization’s future, and are investing significant resources to sustain and define the core activities that are the responsibility of the working group.</p>
      <table id="services-grid">
        <tr>
          \{{#each strategicMembers}}
          <td><a target="_blank" href="\{{url}}"><img src="dist/assets/\{{logo}}" alt="\{{name}} logo"></a></td>
          \{{/each}}
      </table>

      <div class="anchor align-center">
        <a href="#enterprise-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
        <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="enterprise-members">Enterprise Members</a></h2>
      </div>
      <p class="align-center">Enterprise Members are typically organizations that view the Adoptium working group managed technology as a critical part of their organization's business operations. These organizations want to influence the direction and support the development of a runtime technology ecosystem through Eclipse Adoptium.</p>
      <table id="services-grid">
        <tr>
          \{{#each enterpriseMembers}}
          <td><a target="_blank" href="\{{url}}"><img src="dist/assets/\{{logo}}" alt="\{{name}} logo"></a></td>
          \{{/each}}
      </table>

      <div class="anchor align-center">
        <a href="#participant-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
        <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="participant-members">Participant Members</a></h2>
      </div>
      <p class="align-center">Participant Members are typically organizations that deliver products or services based on Adoptium technology. These organizations want to participate in the evolution of the Eclipse Adoptium ecosystem to ensure it continues to meet their needs.</p>
      <table id="services-grid">
        <tr>
          \{{#each participantMembers}}
          <td><a target="_blank" href="\{{url}}"><img src="dist/assets/\{{logo}}" alt="\{{name}} logo"></a></td>
          \{{/each}}
      </table>
      </script>
    </div>

    <div style="margin-top: 3rem; text-align: center;">
      <a href="./join.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Want to Join?&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
